:root {
  --border-color: #ebeaed;
}

.mergeCardContainer {
  display: flex;
  max-width: 1028px;
  height: 112px;
  margin: 112px auto 0;
  gap: 172px;
  justify-content: center;
}

.middleCard {
  height: 196px;
  border-right: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  padding-right: 88px;
  padding-left: 88px;
}
